<template>
  <div style="padding: 0px;">
    <hr class="style-one">
    <div id="mycode">
      <brace style="min-height: 447px; position: relative; font-size: 16px;" 
        :fontsize="'16px'" 
        :theme="'monokai'"
        :mode="'javascript'"
        :codefolding="'markbegin'"
        :softwrap="'free'"
        :selectionstyle="'text'"
        :highlightline="false">
      </brace>
    </div>
    <hr class="style-one">
    <div id="logger" class="cm-s-monokai" style="height: 200px; padding-top: 6px; padding-left: 8px; border-left: 0.2px solid rgba(255, 255, 255, 0.3);">
      <font color="#54BEB6">Nenhuma saída no terminal...</font>
    </div>
  </div>
</template>

<script>
import Brace from 'vue-bulma-brace'
import * as brace from 'brace';
var editor; 

import firebase from 'firebase' 

export default {
  components: {
    Brace
  },
  methods: {
    clear: function (){
      this.editor = brace.edit('vue-bulma-editor');
      this.editor.setValue('');
    },
    run: function () {

      var result = '<font color="#54BEB6">Iniciando a execução do programa...</font>';
      document.getElementById('logger').innerHTML = result;

      this.editor = brace.edit('vue-bulma-editor');
      let code = this.editor.getValue();

      window.console.log = function(msg) {
        result = result + '<br>' + msg;
        document.getElementById('logger').innerHTML = result;
      }
      
      window.console.info = function(msg) {
        result = result + '<br>' + msg;
        document.getElementById('logger').innerHTML = result;
      }

      window.console.warn = function(msg) {
        result = result + '<br>' + msg;
        document.getElementById('logger').innerHTML = result;
      }

      try {
        eval(code);
        result = result + '<br><font color="#7556B3">Execução finalizada.</font>';
        result = result + '<br>Exercício selecionado: ' + window.localStorage.getItem('selectExercise') + '. Usuário: ' + window.localStorage.getItem('user'); 
        document.getElementById('logger').innerHTML = result;
      } catch (e) {
        if (e instanceof SyntaxError) {
          document.getElementById('logger').innerHTML = '<font color="#C0392B">Erro de compilação: ' + e.message + '</font>';
        }
      }
      
      // add to firebase..

      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          var usersRef = firebase.database().ref('users')
          usersRef.push({
            uid: '1',
            provider: 'Google',
            email: 'flavio@gmail.com',
            fullName: 'Flavio Medeiros'
          });
        } else {
          // No user is signed in.
        }
      });

    }
  }
}
</script>

<style>
  hr.style-one {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .cm-s-monokai.CodeMirror {
    background: #272822; 
    color: #f8f8f2;
  }

  .cm-s-monokai div.CodeMirror-selected {
    background: #49483E !important;
  }

  .cm-s-monokai .CodeMirror-gutters {
    background: #272822; 
    border-right: 0px;
  }

  .cm-s-monokai .CodeMirror-linenumber {
    color: #d0d0d0;
  }

  .cm-s-monokai .CodeMirror-cursor {
    border-left: 1px solid #f8f8f0 !important;
  }

  .cm-s-monokai span.cm-comment {
    color: #75715e;
  }

  .cm-s-monokai span.cm-atom {
    color: #ae81ff;
  }

  .cm-s-monokai span.cm-number {
    color: #ae81ff;
  }

  .cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
    color: #a6e22e;
  }

  .cm-s-monokai span.cm-keyword {
    color: #f92672;
  }

  .cm-s-monokai span.cm-string {
    color: #e6db74;
  }

  .cm-s-monokai span.cm-variable {
    color: #a6e22e;
  }

  .cm-s-monokai span.cm-variable-2 {
    color: #9effff;
  }

  .cm-s-monokai span.cm-def {
    color: #fd971f;
  }

  .cm-s-monokai span.cm-bracket {
    color: #f8f8f2;
  }

  .cm-s-monokai span.cm-tag {
    color: #f92672;
  }

  .cm-s-monokai span.cm-link {
    color: #ae81ff;
  }

  .cm-s-monokai span.cm-error {
    background: #f92672; 
    color: #f8f8f0;
  }

  .cm-s-monokai .CodeMirror-activeline-background {
    background: #373831 !important;
  }

  .cm-s-monokai .CodeMirror-matchingbracket {
    text-decoration: underline;
    color: white !important;
  }
</style>