<template>
<div style="padding-top: 20px; background-color: #272823;">
  <div style="padding-bottom: 16px;">
      <span>EXERCÍCIOS</span>
  </div>
  <v-list dense style="padding: 0px;">
      <v-list-tile style="background-color: #30312B;" v-for="exercise in exercises" :key="exercise.id">
        <v-list-tile-action>
          <font color="#e6db74">Ex.{{exercise.id}}</font>
        </v-list-tile-action>
        <v-list-tile-content v-on:click="selectExercise(exercise)">
          <v-list-tile-title>{{exercise.topic}}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action><v-icon v-show="selectedExercise.id == exercise.id" dark style="color: #68D5DD;">check</v-icon></v-list-tile-action>
      </v-list-tile>
      <v-divider></v-divider>
  </v-list>
  <div style="height: 20px;"></div>
  <div style="background-color: #30312B; padding: 20px;">
    <p><font color="#e6db74">Ex.{{selectedExercise.id}}</font></p>
    <p>{{selectedExercise.text}}</p>
  </div>
</div>
</template>

<script>
  import json from '../providers/beginners.json';
  
  var selectedEx = json[0];
  window.localStorage.removeItem('selectExercise');
  window.localStorage.setItem('selectExercise', selectedEx.id);

  export default {
    data: () => ({
      exercises: json,
      selectedExercise: selectedEx
    }),
    methods: {
      selectExercise: function (exercise){
        this.selectedExercise = exercise;
        window.localStorage.removeItem('selectExercise');
        window.localStorage.setItem('selectExercise', exercise.id);
      }
    }
  }
</script>