<template>
  <div style="padding: 20px; background-color: #272823; z-index:998;">
    <div v-show="!userLoggedIn">
      <div style="padding-bottom: 16px;">
        <span>LOGIN</span>
      </div>
      <div style="padding-bottom: 16px;">
        <span>{{message}}</span>
      </div>
      <div style="padding-bottom: 4px;">
        <input v-model="username" placeholder="Usuário" style="padding-left: 4px; height:30px; width: 260px; border:1px solid rgba(255, 255, 255, 0.3);">
      </div>
      <div style="padding-bottom: 12px;">
        <input v-model="password" type="password" placeholder="Senha" style="padding-left: 4px; height:30px; width: 260px; border:1px solid rgba(255, 255, 255, 0.3);">
      </div>
      <v-layout row>
        <v-flex xs6 v-on:click="login()">
        <v-card dark tile flat>
          <v-card-text style="padding: 0px;">
            <v-btn block dark style="background-color: #30312B; width: 100%;">
             <font color="#68D5DD">Entrar</font>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
       <v-flex xs6 v-on:click="register()">
        <v-card dark tile flat>
          <v-card-text style="padding: 0px;">
            <v-btn block dark style="background-color: #30312B; width: 100%;">
              <font color="#ae81ff">Cadastro</font>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-flex>
      </v-layout>
    </div>
    <div v-show="userLoggedIn">
      <div style="padding-bottom: 16px;">
        <span>ALUNO</span>
      </div>
      <div style="padding-bottom: 0px;">
        <font color="#68D5DD">Nome:</font> <span>{{userLoggedIn}}</span>
      </div>
      <div style="padding-bottom: 0px;">
        <font color="#68D5DD">Pontuação:</font> <span>2098 pontos</span>
      </div>
      <div style="padding-bottom: 16px;">
        <font color="#68D5DD">Colocação:</font> <span>1</span>
      </div>
    </div>
    <v-list dense style="padding: 0px;">
      <v-divider v-show="userLoggedIn"></v-divider>
      <v-list-tile @click="clear()" style="padding-top: 4px; background-color: #30312B;" v-show="userLoggedIn">
        <v-list-tile-action>
          <v-icon>cloud_upload</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Enviar</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action><font color="#f92672">( 3 )</font></v-list-tile-action>
      </v-list-tile>
      <v-divider v-show="userLoggedIn"></v-divider>
      <v-list-tile v-on:click="logout()" style="background-color: #30312B" v-show="userLoggedIn">
        <v-list-tile-action>
          <v-icon>close</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Sair</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
    <div style="height: 4px;"></div>
    <div style="height: 16px;" v-show="userLoggedIn"></div>
    <hr class="style-one" v-show="userLoggedIn">
    <Exercises v-show="userLoggedIn"></Exercises>
    <div style="height: 20px;"></div>
    <hr class="style-one">
    <Ranking></Ranking>
  </div>
</template>

<script>
  import firebase from 'firebase' 
  import Exercises from '@/components/Exercises'
  import Ranking from '@/components/Ranking'
  import App from '@/App'

  export default {
    data: () => ({
      username: '',
      password: '',
      userLoggedIn: null,
      message: ''
    }),
    components: {
      Exercises,
      Ranking
    },
    methods: {
      login: function (){
        //window.localStorage.setItem('user', 'Flávio Medeiros');
        //this.userLoggedIn = 'Flávio Medeiros';

        firebase.auth().signInWithEmailAndPassword(this.username, this.password)
        .then( result => {
          this.userLoggedIn = result.email;

          window.localStorage.removeItem('user');
          window.localStorage.setItem('user', result.email);

          this.username = '';
          this.password = '';
        })
        .catch( error => {
          this.message = 'Erro nas informações do usuário!';
        });

      },
      logout: function (){
        //window.localStorage.setItem('user', null);
        firebase.auth().signOut();
        this.userLoggedIn = null;
      },
      register: function (){
        firebase.auth().createUserWithEmailAndPassword(this.username, this.password)
        .then( result => {
          this.message = 'Usuário cadastrado com sucesso!';
          this.username = '';
          this.password = '';
        })
        .catch( error => {
          this.message = 'Erro ao adicionar usuário!';
        });
      }
    }
  }
</script>

<style lang="stylus">

  hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

</style>
