<template>
<div style="padding-top: 20px; background-color: #272823;">
    <div style="padding-bottom: 16px;">
        <span>RANKING</span>
    </div>
  <v-list dense style="padding: 0px;">
      <v-list-tile style="background-color: #30312B;">
        <v-list-tile-action><font color="#ae81ff">#1</font></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Flávio Medeiros</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>2098</v-list-tile-action>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile style="background-color: #30312B;">
        <v-list-tile-action><font color="#ae81ff">#2</font></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Paula Malta</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>1987</v-list-tile-action>
      </v-list-tile>
      <v-divider></v-divider>
      <v-list-tile style="background-color: #30312B;">
        <v-list-tile-action><font color="#ae81ff">#3</font></v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Isabella Figueiredo</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>987</v-list-tile-action>
      </v-list-tile>
  </v-list>
  <div style="height: 100px;"></div>
</div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          { subtitle: '2076 pontos', title: 'Flávio Medeiros' },
          { subtitle: '2001 pontos', title: 'Iran Malta' },
          { subtitle: '1768 pontos', title: 'Bruna Silva' },
          { subtitle: '1564 pontos', title: 'Paula Mendes' },
          { subtitle: '1345 pontos', title: 'João Barros' },
        ]
      }
    }
  }
</script>