<template>
  <v-app id="inspire" dark style="background-color: #272823;">
    <v-navigation-drawer clipped fixed v-model="drawer" app style="z-index:999; background-color: #272823; padding: 0px;">
      <hr class="style-one">
      <MyLogin></MyLogin>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left style="z-index:999;">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>AlgorIF</v-toolbar-title>
    </v-toolbar>
    <v-content>
      <CodeEditor></CodeEditor>
    </v-content>
    <v-footer app fixed style="z-index:999; padding: 0px; width: 100%; background-color: #30312B; border-top: 0.6px solid rgba(255, 255, 255, 0.3);">
      <v-layout row style="background-color: #30312B;">
        <v-flex v-on:click="run()">
          <v-card dark tile flat style="padding: 8px; text-align: justify; background-color: #30312B;">
            <v-icon dark style="color: #68D5DD;">settings</v-icon>
            <!--&nbsp;|&nbsp;<v-icon dark style="color: #ae81ff;">delete</v-icon>&nbsp;|&nbsp;
            {{selectedExercise}}-->
          </v-card>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
  import CodeEditor from '@/components/CodeEditor'
  import MyLogin from '@/components/MyLogin'

  var Vue = require('vue')
  var VueFire = require('vuefire')
  var firebase = require('firebase')
  
  var config = {
    apiKey: "AIzaSyDFG375VavCG9iQBCOoCpA2h42PMx6z1qo",
    authDomain: "algorif-db0fb.firebaseapp.com",
    databaseURL: "https://algorif-db0fb.firebaseio.com",
    projectId: "algorif-db0fb",
    storageBucket: "",
    messagingSenderId: "13815451465"
  };
  firebase.initializeApp(config)  

  //var selectedExerciseGlobal = 'Ex3. Faça um algoritmo que imprima na saída todos os números pares em um intervalo de X e Y fornecidos pelo usuário.'

  //if (window.localStorage.getItem('user') !== 'null'){
    //userLoggedInGlobal = window.localStorage.getItem('user')
  //}
  
  export default {
    data: () => ({
      drawer: null
    }),
    components: {
      CodeEditor,
      MyLogin
    },
    methods: {
      run(){
        CodeEditor.methods.run();
      },
      clear(){
        CodeEditor.methods.clear();
      }
    },
    props: {
      source: String
    }
  }
</script>

<style>

hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
</style>

